body {
	background-color: #eee;
}
.main-header {
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}
.main-header h1 {
	margin: 0;
	color: white;
	font-weight: 600;
}
.window-container {
	width: 720px;
	margin-top: 40px;
}

.cell {
	padding: 0;
	width:200px;
	height:200px;
	border: solid 2px #ccc;
	line-height: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
}
#board {
	margin-left: 20px;
	margin-right: 20px;
}
.footer-btns {
	text-align: center;;
}

.neutral {
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}

.win {
	background: repeating-linear-gradient(
		45deg,
		#6bbc60,
		#6bbc60 10px,
		#5fa755 10px,
		#5fa755  20px
	);
}

.lose {
	background: repeating-linear-gradient(
		45deg,
		#c75d5d,
		#c75d5d 10px,
		#9c4f4f 10px,
		#9c4f4f 20px
	);
}

.draw {
	background: repeating-linear-gradient(
		45deg,
		#6c757d,
		#6c757d 10px,
		#4d565f 10px,
		#4d565f 20px
	);
}
.colored {
	background-color: #e2e2e2;
}